<ScrollView row="0">
	<StackLayout class="form">
		<StackLayout class="sidedrawer-center">
			<StackLayout class="sidedrawer-header">
				<Image class="sidedrawer-header-image img-circle" src="~/my-app-logo.png"></Image>
				<Label class="sidedrawer-header-brand" text="FOSSASIA Summit 2017"></Label>
	  		</StackLayout>
  		</StackLayout>
		<StackLayout class="input-field">
    		<Label class="label" text="Username:"></Label>
   			<TextField height="30" class="input input-border" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="this.user.email"></TextField>
   			<Label class="label" text="Password:"></Label>
   			<TextField height="30" secure="true" class="input input-border" [(ngModel)]="this.user.password"></TextField>

   			<Button width="200" class="btn btn-primary" text="Sign In" (tap)="signIn()"></Button>
			<Button width="200" class="btn btn-outline" text="Sign Up" (tap)="signUp()"></Button>
 		</StackLayout>
	</StackLayout>
</ScrollView>